:root
{
    --noir: #000;
    --beige : #f0eee9;
    --beige2 : #ebe7e0;
    --beige3 : #F6F6F6;
    --beige4 : #FAF7F0;
    --blanc : #ffffff;
    --jaune : #fffede;
    --orange : #feae62;
    --taupe : #8e8d8a;
    --vert : #DDFFBB;
    --brun : #e8d5cc;
    --rose : #FCD1D1;
    --rose-gris : #AD9D9D;
    --brunF : #bda18a;
    --Mauve : #F1E3FF;
    --vert : #D8E2DC;
}




/* Footer */
footer
{
  background-color: var(--jaune);
}

footer i
{
    transition: transform .3s ease;
}

footer i:hover
{
    transform: scale(1.3);
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
    color: var(--orange);
}

footer a
{
    text-decoration: none;
    color: var(--noir);
}

#mapid
{
    height: 250px !important;
    border-radius: 10px;
}
/*FooterMap END*/
